{% extends "base.html"%}

    {% block content %}
    <h2 class="title">{{ feed.channel.title }}</h2>
    <p class="card-text">Summary: {{ feed.channel.summary }}</p>
    {% for item in feed.entries %}
        <hr>
        <h5 class="card-title">Title: {{ item.title }}</h5>
        <h5 class="card-title">Title: {{ item.description }}</h5>
        <p class="card-text">Date: {{ item.published }}</p>
        <p class="card-text">URL: {{ item['links'][1]['href'] }}</p>
        <audio controls>
            <source src="" type="audio/mpeg">
        </audio>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Comments</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        {% endfor %}
    {% endblock %}