{% extends "base.html"%}

    {% block content %}
    {% for entries in feed %}
    <h2 class="title">{{ title }}</h2>
        <hr>
        <h5 class="card-title">{{ title }}</h5>
        <p class="card-text">Summary: {{ summary }}</p>
        <p class="card-text">Date: {{ published }}</p>
        <p class="card-text">URL: </p>
        <audio controls>
            <source src="" type="audio/mpeg">
        </audio>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Comments</label>
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"></textarea>
        </div>
        {% endfor %}
    {% endblock %}