{% extends "base.html"%}

    {% block content %}
    <div class="containter">
        <!-- HERO -->
        <div class="jumbotron text-center hero-background-img">
        <h1 class="index">Enter a Podcast Feed</h1>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.podcast_url.label }}<br>
                {{ form.podcast_url(size=32) }}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
        </div>
    </div>
    {% endblock %}

