{% extends "base.html"%}

    {% block content %}
        <div class="py-5 mb-4">
            <div class="container">
                    <h2 class="title-center">{{ feed.channel.title |default('Title') }}</h2>
                    <img class="title" src="{{ feed.channel.image['href'] }}" alt="Picture Not Available">
                    <p class="summary">{{ feed.channel.summary | default('summary') }}</p>
                    <a href="{{ feed.channel.links[0]['href'] |default('summary')}}" target="_blank" class="btn btn-primary btn-lg">View XML</a>
                    <a href="{{ feed.channel.link |default('summary')}}" target="_blank" class="btn btn-primary btn-lg">Website</a>
                <div class="container">
                    {% for item in feed.channel.tags %}
                        <span class="badge rounded-pill bg-primary">{{ item.term|default('keywords')}}</span>
                    {% endfor %}
                </div>
                <span class="badge rounded-pill bg-primary">Recommended Keywords: {{ keywords }}</span>
                    <p class="summary">Owner: {{ feed.channel.rights|default('Owner Info Unavailable') }}</p>
            </div>
        </div>
            <div class="row">
                {% for item in feed.entries %}
                <div class="col-lg-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">{{ item.title|default('Title Unavailable') }}</h5>
                            <p class="card-text">{{ clean_regex.sub('', item.description) |default('Description Unavailable') }}</p>
                            <p class="card-text">Date: {{ item.published|default('Date Unavailable') }}</p>
                            <p class="card-text">{{ item.author|default('Author Unavailable') }}</p>
                            <p class="card-text">Explicit: {{ item.itunes_explicit| default('Content Rating Unavailable') }}</p>
                            <p class="card-text">Episode Number: {{ item.itunes_episode|default('Episode Number Unavailable') }}</p>
                        <audio controls>
                            <source src="{{ item['links'][1]['href']|default('none') }}" type="audio/mpeg">
                       </audio>
                      </div>
                    </div>
                </div>
                {% endfor %}
            </div>
    {% endblock %}